body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

.teacher {
    border: 1px solid rgb(11, 11, 11);
    padding: 10px;
    margin-bottom: 10px;
}

.rating-input {
    margin-top: 10px;
}

input[type="number"] {
    width: 60px;
    margin-right: 10px;
}
